doctype html
html
  head
    title Lingo Master
    link(rel="stylesheet", href="/styles/style.css")
  body
    header
      h1 Lingo Master
      nav
        a(href='/') Home
        a(href='/create') Add Word
    main
      block content
doctype html
html
  head
    title Lingo Master
    link(rel='stylesheet', href='/styles/style.css')
  body
    .container
      block content
